{% extends 'base.html' %}

{% block title %}Emails - FlowLink{% endblock %}

{% block content %}
    <h2 class="my-4">Extracted Emails</h2>
    {% if emails %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emails %}
                    <tr>
                        <td>{{ email.from }}</td>
                        <td>{{ email.subject }}</td>
                        <td>{{ email.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-4">
            <a href="{% url 'download_json' %}" class="btn btn-info">Download JSON</a>
            <a href="{% url 'download_csv' %}" class="btn btn-success">Download CSV</a>
            <a href="{% url 'download_excel' %}" class="btn btn-primary">Download Excel</a>
        </div>
    {% else %}
        <p>No emails found. Please <a href="{% url 'extract_emails' %}">extract emails</a> first.</p>
    {% endif %}
{% endblock %}
