{% extends 'base.html' %}

{% block title %}M-DATA - FlowLink{% endblock %}

{% block content %}
    <h2 class="my-4">Download Extracted Email Data</h2>
    {% if emails %}
        <p>You can download your extracted email data in various formats:</p>
        <div class="mt-4">
            <a href="{% url 'download_json' %}" class="btn btn-info">Download JSON</a>
            <a href="{% url 'download_csv' %}" class="btn btn-success">Download CSV</a>
            <a href="{% url 'download_excel' %}" class="btn btn-primary">Download Excel</a>
        </div>
    {% else %}
        <p>No emails found. Please <a href="{% url 'extract_emails' %}">extract emails</a> first.</p>
    {% endif %}
{% endblock %}
