{% extends 'base.html' %}

{% block title %}Excel Summary - FlowLink{% endblock %}

{% block content %}
    <h2 class="my-4">Email Summary in Excel</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                    <td>{{ email.from }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
